body{
    font-family:fantasy, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(rgb(251, 255, 0) , rgb(255, 174, 0));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(221, 65, 40);
}
#header1{
    text-align: center;
    font-weight: 1;
    padding: 5px;
    margin-bottom: 50px;
    /* box-shadow: -5px 5px; */
}
#inputTempBox{
    text-align: center;
    margin-bottom: 30px;
}
#inputTemp{
    height: 50px;
    width: 100px;
    font-size: 25px;
    text-align: center;
    /* background-color: rgb(255, 234, 0); */
    color: rgb(221, 65, 40);
    background-attachment: fixed;
    background-color: rgb(255, 238, 57);
}
/* #inputTemp[placeholder]{
    font-size: smaller;
    color:rgb(221, 65, 40)
} */
#unitSelector{
    height: 50px;
    width: 50px;
    background-color: rgb(221, 65, 40);
    border: 5px solid;
    border-color: rgb(245, 232, 82);
    color: white;
    font-style: italic;
}
#unitSelector:hover{
    border-color: rgb(224, 224, 224);
}
#convertDiv{
    text-align: center;
}
#convertButton{
    padding: 5px;
    height: 50px;
    width: 100px;
    background-color: rgb(221, 65, 40);
    border: 5px solid;
    border-color: rgb(245, 232, 82);
    color: white;
    font-style: italic;
}
#convertButton:hover{
    border-color: rgb(228, 228, 228);
}
#outputDisplayBox{
    text-align: center;
    font-size: 25px;
    /* animation-name: dropResult; */
}
#outputDisplayBox.animate-drop{
    animation: dropResult 300ms both 0s 1 normal ease-out;
}
/* .animate-drop {
    animation: dropResult 2s forwards 3s 1 backwards ease-out;
} */

@keyframes dropResult {
    from{opacity: 0%;}
    to{opacity: 100%;}
}